<script setup>
import { RouterView } from "vue-router";
</script>

<template>
  <div class="top-nav w-100 d-flex justify-content-between align-items-center">
    <div class="logo">SENECA</div>
    <b-nav pills>
      <b-nav-item-dropdown
        text="Akhmad Jazuli"
        toggle-class="nav-link-custom"
        right
      >
        <b-dropdown-item>Profile</b-dropdown-item>
        <b-dropdown-item>Settings</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item>Log Out</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-nav>
  </div>
  <router-view v-slot="{ Component }">
    <transition name="fade" mode="out-in">
      <component :is="Component" />
    </transition>
  </router-view>
</template>

<style lang="scss" scoped>
.top-nav {
  height: 57px;
  background-color: #007cff;
  color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  .logo {
    font-size: 1rem;
    font-weight: 700;
  }
}
</style>
