body {
    background-color: #e5e5e5!important;
    font-family: "Raleway", sans-serif!important;
}

// Router transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
// End Router transitions

.top-nav {
    padding: 0 20px;
    .btn-link {
        color: #ffffff !important;
        text-decoration: none;
    }
}
.no-border {
    border: none!important;
}
