<template>
  <div class="connect-container text-center">
    <p>
      Before you can access all of the data, you have to connect to facebook
      login
    </p>
    <button type="button" class="btn btn-primary btn-lg">
      <font-awesome-icon
        :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
      />
      Connect your facebook
    </button>
  </div>
</template>

<style lang="scss" scoped>
.connect-container {
  margin: 200px auto;
  width: 50%;
  p {
    font-size: 1.5rem;
    color: #3e3e3e;
  }
}
</style>
