<script setup>
import PageNavButtons from "./PageNavButtons.vue";
</script>

<template>
  <b-card class="card-account-statistics" title="Account Statistic">
    <b-row class="mt-4">
      <b-col> Fullname </b-col>
      <b-col class="text-end"> Akhmad Jazuli </b-col>
    </b-row>
    <b-row>
      <b-col> UID </b-col>
      <b-col class="text-end"> 00000123123123 </b-col>
    </b-row>

    <b-row class="statistic-box">
      <b-col>
        <div class="inner">
          <p>1,239</p>
          <span>Friends</span>
        </div>
      </b-col>
      <b-col>
        <div class="inner">
          <p>2</p>
          <span>Pages</span>
        </div>
      </b-col>
      <b-col>
        <div class="inner">
          <p>1,239</p>
          <span>Posts</span>
        </div>
      </b-col>
      <b-col>
        <div class="inner">
          <p>1,239</p>
          <span>Shares</span>
        </div>
      </b-col>
    </b-row>

    <h3 class="mt-5">Page Lists</h3>

    <div class="mt-4">
      <h6>Name / UID</h6>
      <b-row>
        <b-col
          ><font-awesome-icon
            :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
          />
          Page Name 1/002312312
        </b-col>
        <b-col class="text-end">
          <b-row class="statistic-box">
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Likes</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Shares</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Posts</span>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    <div>
      <h6>Name / UID</h6>
      <b-row>
        <b-col
          ><font-awesome-icon
            :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
          />
          Page Name 1/002312312
        </b-col>
        <b-col class="text-end">
          <b-row class="statistic-box">
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Likes</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Shares</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Posts</span>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    <div>
      <h6>Name / UID</h6>
      <b-row>
        <b-col
          ><font-awesome-icon
            :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
          />
          Page Name 1/002312312
        </b-col>
        <b-col class="text-end">
          <b-row class="statistic-box">
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Likes</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Shares</span>
              </div>
            </b-col>
            <b-col>
              <div class="inner">
                <p>1,239</p>
                <span>Posts</span>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>

    <PageNavButtons />
  </b-card>
</template>

<style lang="scss" scoped>
.card-account-statistics {
  width: 60%;
  margin: 80px auto;
  padding: 0 20px;
  h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .row {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
  .statistic-box {
    border: none;
    .inner {
      text-align: center;
      border: 1px solid #e3e3e3;
      padding: 20px 0;
      p {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
}
</style>
