<script setup>
import PageNavButtons from "./PageNavButtons.vue";
</script>
<template>
  <b-card class="card-account-details" title="Account Details">
    <b-row class="mt-4">
      <b-col> Fullname </b-col>
      <b-col class="text-end"> Akhmad Jazuli </b-col>
    </b-row>
    <b-row>
      <b-col> UID </b-col>
      <b-col class="text-end"> 00000123123123 </b-col>
    </b-row>
    <b-row>
      <b-col> Email </b-col>
      <b-col class="text-end"> webprogrammerz@gmail.com </b-col>
    </b-row>

    <h3 class="mt-5">Page Lists</h3>
    <b-row class="mt-4">
      <b-col>
        <font-awesome-icon
          :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
        />
        Name / UID
      </b-col>
      <b-col class="text-end"> Page Name 1/002312312</b-col>
    </b-row>
    <b-row>
      <b-col
        ><font-awesome-icon
          :icon="{ prefix: 'fab', iconName: 'facebook-square' }"
        />
        Name / UID
      </b-col>
      <b-col class="text-end"> Page Name 1/002312312</b-col>
    </b-row>
    <b-row>
      <b-col
        ><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram' }" />
        Name / UID
      </b-col>
      <b-col class="text-end"> Page Name 1/002312312</b-col>
    </b-row>
    <PageNavButtons />
  </b-card>
</template>

<style lang="scss" scoped>
.card-account-details {
  width: 50%;
  margin: 150px auto;
  padding: 0 20px;
  .row {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
}
</style>
