<script setup>
import PageNavButtons from "./PageNavButtons.vue";

const loopText =
  "In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without";
</script>

<template>
  <div class="card-contents">
    <b-card>
      <div class="content-block">
        <b-row class="mt-4">
          <b-col> Fullname </b-col>
          <b-col class="text-end"> Akhmad Jazuli </b-col>
        </b-row>
        <b-row>
          <b-col> UID </b-col>
          <b-col class="text-end"> 00000123123123 </b-col>
        </b-row>

        <b-row class="statistic-box no-border">
          <b-col>
            <div class="inner">
              <p>1,239</p>
              <span>Friends</span>
            </div>
          </b-col>
          <b-col>
            <div class="inner">
              <p>2</p>
              <span>Pages</span>
            </div>
          </b-col>
          <b-col>
            <div class="inner">
              <p>1,239</p>
              <span>Posts</span>
            </div>
          </b-col>
          <b-col>
            <div class="inner">
              <p>1,239</p>
              <span>Shares</span>
            </div>
          </b-col>
        </b-row>
      </div>
      <PageNavButtons positions="end" />
    </b-card>

    <div class="post-comments-block">
      <h5>POST & COMMENTS</h5>

      <b-row>
        <b-col cols="3" v-for="i in 8" :key="i">
          <b-card>
            <div class="post-sign">Post</div>
            <div class="post-body">{{ loopText }}</div>
            <div class="post-time">12 December 2022</div>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card-contents {
  margin: 70px 20px;
}
.content-block {
  width: 50%;
  margin: auto;
  .row {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
}
.statistic-box {
  border: none;
  .inner {
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 20px 0;
    p {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    span {
      font-size: 0.8rem;
    }
  }
}
.post-comments-block {
  padding-top: 32px;
  h5 {
    font-weight: 700;
  }
  .col {
    margin-bottom: 20px;
  }
  .post-sign {
    float: right;
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid #007cff;
  }
  .post-body {
    clear: both;
    padding-top: 10px;
  }
  .post-time {
    font-weight: 700;
    font-size: 0.9rem;
    padding-top: 10px;
  }
}
</style>
