<script setup>
const props = defineProps({
  positions: {
    type: String,
    default: "start",
  },
});
</script>

<template>
  <b-row class="no-border" :class="props.positions === 'end' ? 'text-end' : ''">
    <b-col>
      <router-link to="/statistics" class="btn btn-primary me-2" role="button"
        >Account Statistic</router-link
      >
      <router-link to="/contents" class="btn btn-success me-2" role="button"
        >User Content</router-link
      >
      <router-link to="/" class="btn btn-danger me-2" role="button"
        >Account Details</router-link
      >
    </b-col>
  </b-row>
</template>
